.cache/
.cargo/
.codeium/
.conda/
.ipython/
.local/
.mypy_cache/
.npm/
.pki/
.ssh/
.vscode/
.vscode-oss/
.yarn/
bin-bak/
chromium/
Documents/
Downloads/
yay-git/
.bash_history
.bash_logout
.bash_profile
.bashrc
.dmrc
.histfile
.lesshst
.Xauthority
.xsession-errors
.xsession-errors.old
.bash_logout
.config/bak-nvim/
.config/Code/
.config/Code - OSS/
Pictures/
.config/gh
.config/google-chrome
.config/hardinfo
.config/libreoffice
.config/menus
.config/nvim
.config/obsidian
.config/polybar.2
.config/qutebrowser
.config/test
.config/TIPP10
.config/yay
.yarnrc
.zcompdump*
.zsh_history
.zshrc.pre*
q
test.py
test2.py
node_modules
.gnupg
.mozilla
.oh-my-zsh
.redhat
.thunderbird
.vscode-print-resource-cache
.wine
miniconda3
slidev-theme-sirius-college
.config/fontconfig/
.config/polybar/scripts/ixwindow/polybar-icons/
.config/pulse/
.config/Thunar/
.config/transmission
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/pavucontrol.ini
.config/QtProject.conf
.config/yarn/global/package.json
.config/yarn/global/yarn.lock
.config/xfce4/